.home-background {
    background-image: url('../assets/fondo1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}